.navbar{
  height: 90px;
}

.dark-background{
  text-align: center;
  background: #3b434b;
}

.container{
  max-width: 1140px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
   width: 140px;
}

.logo{
  line-height: 90px;
}

img{
  border-style: none;
}

.navtop{
  float: right;
  text-align: left;
  line-height: 80px;
}

.navtop-link{
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding-right: 15px;
}

.flag{
  padding-right: 15px;
}

.flag img{
  vertical-align: middle;
  width: 25px;
}

.navtop-btn{
  color: white;
  font-size: 14px;
  font-weight: lighter;
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px 25px;
  text-decoration: none;
  margin-right: 8px;
}

main{
  display: block;
}

.site-container01{
   max-width: 1140px;
   margin-left: auto;
   margin-right: auto;
   height: 390px;
   padding-left: 15px;
   padding-right: 15px;
}

.all-plans{
  color: white;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  display: block;
  line-height: 80px;
  padding-top: 80px;
}

.try30days{
  color: #adadad;
  font-size: 26px;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 20px;
}

.trynow-btn-outer{
  text-align: center;
  padding-top: 30px;
}

.trynow-btn{
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-decoration: none;
  background-color: #00bbcc;
  border: 1px solid #00bbcc;
  border-radius: 50px;
  padding: 10px 100px;
  margin-left: auto;
  margin-right: auto;
}

.site-container02{
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid #dadfe1;
}

.basic{
  display: inline-block
  border: 1px solid #dadfe1;
  border-radius: 5px;
  height: 460px;
  width: 28%;
}

.title01{
  font-size: 36px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 10px;
}

.title02{
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 50px;
}

.plan-price{
  color: #264C79;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.currency .month{
  font-size: 20px;
}