.navbar{
  height: 90px;
}

.dark-background{
  text-align: center;
  background: #3b434b;
}

.container{
  max-width: 1140px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
   width: 140px;
}

.logo{
  line-height: 90px;
}

img{
  border-style: none;
}

.navtop{
  float: right;
  text-align: left;
  line-height: 80px;
}

.navtop-link{
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding-right: 15px;
}