.navbar{
  height: 90px;
}

.dark-background{
  text-align: center;
  background: #3b434b;
}

.container{
  max-width: 1140px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
   width: 140px;
}

.logo{
  line-height: 90px;
}

img{
  border-style: none;
}

.navtop{
  float: right;
  text-align: left;
  line-height: 80px;
}

.navtop-link{
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding-right: 15px;
}

.flag{
  padding-right: 15px;
}

.flag img{
  vertical-align: middle;
  width: 25px;
}

.navtop-btn{
  color: white;
  font-size: 14px;
  font-weight: lighter;
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px 25px;
  text-decoration: none;
  margin-right: 8px;
}

main{
  display: block;
}

.site-container01{
   max-width: 1140px;
   margin-left: auto;
   margin-right: auto;
   height: 390px;
   padding-left: 15px;
   padding-right: 15px;
}

.all-plans{
  color: white;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  display: block;
  line-height: 80px;
  padding-top: 80px;
}

.try30days{
  color: #adadad;
  font-size: 26px;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 20px;
}

.trynow-btn-outer{
  text-align: center;
  padding-top: 30px;
}

.trynow-btn{
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-decoration: none;
  background-color: #00bbcc;
  border: 1px solid #00bbcc;
  border-radius: 50px;
  padding: 10px 100px;
  margin-left: auto;
  margin-right: auto;
}

.site-container02{
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid #dadfe1;
}

.basic{
  display: inline-block;
  border: 1px solid #dadfe1;
  border-radius: 5px;
  height: 460px;
  width: 28%;
}

.title01{
  font-size: 36px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 10px;
}

.title02{
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 50px;
}

.plan-price{
  color: #264C79;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.currency-month{
  font-size: 20px;
}

.annual-pay{
  color: #777777;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;
}

.star{
  color: #337ab7;
  font-size: 14px;
  font-weight: lighter;
  padding-left: 0;
  list-style: none;
}

.list{
  margin-bottom: 15px;
}

.signup-btn-outer{
  text-align: center;
  padding-top: 30px;
}

.signup-btn{
  margin-left: auto;
  margin-right: auto;
  color: #575757;
  font-size: 16px;
  background-color: #f7f7f7;
  border: 1px solid #cbd4d8;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none:
}

.premium{
  display: inline-block;
  border: 1px solid #dadfe1;
  border-radius: 5px;
  height: 520px;
  width: 28%;
  padding-top: 30px;
  background-color: #33678c;
}

.title01-p{
  font-size: 36px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
}

.title02-p{
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 40px;
  color: white;
}

.plan-price-p{
  color: white;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.currency-month-p{
  font-size: 20px;
}

.premium-price{
  color: white;
  font-size: 45px;
  text-align: center;
  margin-bottom: 15px;
}

.annual-pay-p{
  color: white;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;
}

.star-p{
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
  padding-left: 0;
  list-style: none;
}

.list-p{
  margin-bottom: 15px;
}

.signup-btn-outer-p{
  text-align: center;
  padding-top: 30px;
}

.signup-btn-p{
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-size: 16px;
  background-color: #00bbcc;
  border: 1px solid #00bbcc;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.advance{
  display: inline-block;
  border: 1px solid #dadfe1;
  border-radius: 5px;
  height: 460px;
  width: 28%;
}

.site-container03{
  height: 630px;
  text-align: center;
}

.all-plans-contain{
  color: #666666;
  font-size: 36px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.image01{
  display: inline-block;
  width: 24%;
  height: 128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}

.image-title{
  color: #666666;
  font-size: 20px;
}

.site-container04{
  height: 600px;
  text-align: center;
  background-color: #f6f6f6;
}

.faq{
  color: #333333;
  font-size: 32px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.faq-sections-outer{
  margin-left: auto;
  margin-right: auto;
}

.faq-sections{
  width: 50%;
  height: 200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  float: left;
  text-align: left;
}

.faq-title{
  color: #333;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq-content{
  color: #666666;
  font-size: 15px;
  font-weight: lighter;
  padding-bottom: 70px;
}

*{
  box-sizing: border-box;
}

.dark-background{
  text-align: center;
  background: #3b434b;
}

.site-container05{
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
}

.open-now{
  color: white;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  padding-top: 50px;
  letter-spacing: 2px;
}

.form{
  padding-top: 20px;
}

.form-email-outer{
  display: inline-block;
  text-align: center;
}

.email{
  width: 450px;
  height: 48px;
  color: #333;
  font-weight: 200;
  border: 1px solid #3b434b;
  padding: 25px 10px;
  border-radius: 5px 0px 0px 5px;
  margin-right: -10px;
}

.email-btn{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  background-color: #00bbcc;
  height: 48px;
  border: 1px solid #00bbcc;
  border-radius: 0px 5px 5px 0px;
  padding: 13px 18px 13px 18px;
}

.go{
  font-size: 13px;
  font-weight: 100;
  color: #AAFFEE;
  text-align: left;
  text-decoration: none;
  padding-top:20px;
}

.site-container06{
  height: 360px;
}
.partner{
  color: #333333;
  font-size: 32px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.partner-logo-outer{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.partner-logo{
  display: inline-block;
  width: 24%;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.partner-logo-image{
  display: inline-block;
  text-align: center;
  max-height: 80;
}